@import "tailwindcss";

@import "tailwindcss";

body {
  background-color: #dddef8;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers everything */
  justify-content: center; /* Centers vertically */
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
}



  
  